<header id="main-header">

  <div class="presentation">
    <div class="presentation-title">

      <h1 class="presentation-name">
        <a href="/">
          Evandro <span class="presentation-macedo">Macedo</span>
        </a>
      </h1>

      <p class="presentation-description">{{ site.role }}</p>

    </div> <!-- end .presentation-title -->

    <!-- Mobile nav button -->
    <div id="nav-button">
      <span class="nav-button-stripe"></span>
      <span class="nav-button-stripe"></span>
      <span class="nav-button-stripe"></span>
    </div> <!-- end #nav-button -->

  </div> <!-- end .presentation -->

  <nav id="main-nav">
    <ul class="nav-list">

      <li class="nav-list-item"><a href="#">Blog<i class="fa fa-angle-right nav-arrow"></i></a></li>
      <li class="nav-list-item"><a href="#">About<i class="fa fa-angle-right nav-arrow"></i></a></li>
      <li class="nav-list-item"><a href="#">Projects<i class="fa fa-angle-right nav-arrow"></i></a></li>

    </ul> <!-- end .nav-list -->
  </nav> <!-- end #main-nav -->

  <!-- Desktop social nav -->
  <nav class="social-nav default-social-nav">
    <ul class="social-list">

      <li>
        <a href="https://twitter.com/evandrohcm" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a>
      </li>

      <li>
        <a href="https://www.facebook.com/mago.lol" target="_blank" class="social-facebook"><i class="fa fa-facebook"></i></a>
      </li>

      <li>
        <a href="https://github.com/evandrohcm" target="_blank" class="social-github"><i class="fa fa-github"></i></a>
      </li>

      <li>
        <a href="https://br.linkedin.com/in/evandrohcm" target="_blank" class="social-linkedin"><i class="fa fa-linkedin"></i></a>
      </li>

      <li>
        <a href="mailto:evandro.hcm@gmail.com" class="social-mail"><i class="fa fa-envelope"></i></a>
      </li>

    </ul> <!-- end .social-list -->
  </nav> <!-- end #social-nav -->

</header>

<!-- Mobile social nav -->
<nav class="social-nav responsive-social-nav">
  <ul class="social-list">

    <li>
      <a href="https://twitter.com/evandrohcm" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a>
    </li>

    <li>
      <a href="https://www.facebook.com/mago.lol" target="_blank" class="social-facebook"><i class="fa fa-facebook"></i></a>
    </li>

    <li>
      <a href="https://github.com/evandrohcm" target="_blank" class="social-github"><i class="fa fa-github"></i></a>
    </li>

    <li>
      <a href="https://br.linkedin.com/in/evandrohcm" target="_blank" class="social-linkedin"><i class="fa fa-linkedin"></i></a>
    </li>

    <li>
      <a href="mailto:evandro.hcm@gmail.com" class="social-mail"><i class="fa fa-envelope"></i></a>
    </li>

  </ul> <!-- end .social-list -->
</nav> <!-- end #social-nav -->
