---
---

@import 'normalize';

/* --- Variables --- */

// Main colors
$color-lighter : #7F7E82;
$color-median  : #67666A;
$color-darker  : #4D4D4D;
$header-color  : #F5F5F5;

// Social colors
$facebook-color: #3B579D;
$twitter-color : #00ACED;
$linkedin-color: #007BB6;
$github-color  : #333;
$mail-color    : #E93E39;


/* --- Font-faces --- */

@font-face {
  font-family: 'Proxima Nova';
  src: url('../font/proximanova-regular-webfont.eot');
  src: url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/proximanova-regular-webfont.woff2') format('woff2'),
       url('../font/proximanova-regular-webfont.woff') format('woff'),
       url('../font/proximanova-regular-webfont.ttf') format('truetype'),
       url('../font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-regular-webfont.eot');
  src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-regular-webfont.woff2') format('woff2'),
       url('../font/opensans-regular-webfont.woff') format('woff'),
       url('../font/opensans-regular-webfont.ttf') format('truetype'),
       url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../font/lato-regular-webfont.eot');
  src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/lato-regular-webfont.woff2') format('woff2'),
       url('../font/lato-regular-webfont.woff') format('woff'),
       url('../font/lato-regular-webfont.ttf') format('truetype'),
       url('../font/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* --- Keyframes --- */

@-webkit-keyframes slideTop {
  from  { margin-top: -800px; }
  90%   { margin-top: 10px; }
  to    { margin-top: 0; }
}
@-moz-keyframes slideTop {
  from  { margin-top: -800px; }
  90%   { margin-top: 10px; }
  to    { margin-top: 0; }
}
@-o-keyframes slideTop {
  from  { margin-top: -800px; }
  90%   { margin-top: 10px; }
  to    { margin-top: 0; }
}@keyframes slideTop {
  from  { margin-top: -800px; }
  90%   { margin-top: 10px; }
  to    { margin-top: 0; }
}

@-webkit-keyframes slideLeft {
  from  { margin-left: -800px; }
  90%   { margin-left: 10px; }
  to    { margin-left: 0; }
}
@-moz-keyframes slideLeft {
  from  { margin-left: -800px; }
  90%   { margin-left: 10px; }
  to    { margin-left: 0; }
}
@-o-keyframes slideLeft {
  from  { margin-left: -800px; }
  90%   { margin-left: 10px; }
  to    { margin-left: 0; }
}@keyframes slideLeft {
  from  { margin-left: -800px; }
  90%   { margin-left: 10px; }
  to    { margin-left: 0; }
}

@-webkit-keyframes slideBottom {
  from  { margin-bottom: -500px; }
  to    { margin-bottom: 0; }
}
@-moz-keyframes slideBottom {
  from  { margin-bottom: -500px; }
  to    { margin-bottom: 0; }
}
@-o-keyframes slideBottom {
  from  { margin-bottom: -500px; }
  to    { margin-bottom: 0; }
}@keyframes slideBottom {
  from  { margin-bottom: -500px; }
  to    { margin-bottom: 0; }
}

@-webkit-keyframes slideLeftMobile {
  from  { margin-left: -500px; }
  90%   { margin-left: 5px; }
  to    { margin-left: 0; }
}
@-moz-keyframes slideLeftMobile {
  from  { margin-left: -500px; }
  90%   { margin-left: 5px; }
  to    { margin-left: 0; }
}
@-o-keyframes slideLeftMobile {
  from  { margin-left: -500px; }
  90%   { margin-left: 5px; }
  to    { margin-left: 0; }
}@keyframes slideLeftMobile {
  from  { margin-left: -500px; }
  90%   { margin-left: 5px; }
  to    { margin-left: 0; }
}

@-webkit-keyframes slideTopMobile {
  from  { margin-top: -500px; }
  90%   { margin-top: 5px; }
  to    { margin-top: 0; }
}
@-moz-keyframes slideTopMobile {
  from  { margin-top: -500px; }
  90%   { margin-top: 5px; }
  to    { margin-top: 0; }
}
@-o-keyframes slideTopMobile {
  from  { margin-top: -500px; }
  90%   { margin-top: 5px; }
  to    { margin-top: 0; }
}@keyframes slideTopMobile {
  from  { margin-top: -500px; }
  90%   { margin-top: 5px; }
  to    { margin-top: 0; }
}

@-webkit-keyframes fadeInFooter {
  from  { opacity: 0; }
  50%   { opacity: 0; }
  to    { opacity: 1; }
}
@-moz-keyframes fadeInFooter {
  from  { opacity: 0; }
  50%   { opacity: 0; }
  to    { opacity: 1; }
}
@-o-keyframes fadeInFooter {
  from  { opacity: 0; }
  50%   { opacity: 0; }
  to    { opacity: 1; }
}@keyframes fadeInFooter {
  from  { opacity: 0; }
  50%   { opacity: 0; }
  to    { opacity: 1; }
}


/* --- General --- */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

img,
picture,
video,
embed {
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.text-shadow {
  color: black !important;
  -webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.index .footer {
  -webkit-animation: fadeInFooter 2.1s ease-in-out;
  -moz-animation: fadeInFooter 2.1s ease-in-out;
  -o-animation: fadeInFooter 2.1s ease-in-out;
  animation: fadeInFooter 2.1s ease-in-out;
}


/* --- Container, content wrapper and sticky footer --- */

html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  height: auto !important;
  /* (?), I didn't understand as well */
  height: 100%;
  width: 80%;
  margin: 0 auto -46px;
  padding: 3.5em 0 2em 0;
  font-size: 1.9em;
  line-height: 1.6em;
  color: $color-darker;
}

.push,
.footer {
  height: 46px;
}

.footer {
  position: relative;
  margin: 0 auto;
  text-align: center;

  .footer-text {
    color: $color-median;
    font-size: 1.6em;
    margin: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}


/* --- Header and Navs --- */

#main-header {
  background-color: $header-color;
  -webkit-box-shadow: 1px 1px 5px #E6E6E6;
  box-shadow: 1px 1px 5px #E6E6E6;
}

.presentation-title {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  text-transform: uppercase;

  .presentation-name {
    margin: 0 0 0.1em 0;
    font-size: 3em;
    color: $color-darker;
  }

  .presentation-description {
    margin: 0;
    font-size: 1.2em;
    letter-spacing: 0.27em;
    color: $color-lighter;
  }
}

#nav-button {
  display: none;
}

.nav-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: $color-median;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.social-nav {
  text-align: center;
}

.social-list {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0 0 -3px 0;
  width: 71.875%; // 230px : 320px = 71.875%

  li {
    float: left;
    width: 20%;
  }

  a {
    float: left;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: #FFF;
    color: $color-lighter;
    text-decoration: none;
    font-size: 2em;

    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }

}

.responsive-social-nav {
  display: none;
}

.nav-arrow {
  display: none;
  position: relative;
  bottom: -1px;
}


/* --- Posts --- */

.post-item {
  border-bottom: 1px solid #D3D3D3;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
  padding-bottom: 2em;
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: initial;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
  }
}

.post-header {
  margin-bottom: 1.5em;
  text-align: center;

  .post-title {
    -webkit-transition: color 0.5s, text-shadow 0.5s;
    -o-transition: all 0.5s text-shadow 0.5s;
    transition: all 0.5s text-shadow 0.5s;
    font-weight: normal;
    line-height: 1.2em;
  }

}

.index .post-title:hover {
  @extend .text-shadow;
  -webkit-transition: color 0.5s, text-shadow 0.5s;
  -o-transition: all 0.5s text-shadow 0.5s;
  transition: all 0.5s text-shadow 0.5s;
}

.post-content {
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  img {
    border: 3px solid #D3D3D3;
    display: block;
    margin: auto;
  }

  p {
    margin: 1.2em 0;

    a {
      @extend .text-shadow;
      border-bottom: 1px solid #BFBFBF;
    }
  }

}

.post-footer {
  margin-top: 2em;

  .post-date, .post-link {
    display: inline-block;
  }

  .post-link {
    @extend .text-shadow;
    float: right;
    position: relative;
  }

}

.load-more {
  text-align: center;

  .loading-spinner {
    margin-top: 5px;
    display: block;
    color: $color-lighter;
  }

}

p span.underline-hover {
  display: inline-block;
}

blockquote {
  border-left: 5px solid lightgray;
  padding-left: 1.5em;
  width: 80%;
  margin: 0 auto;
  display: block;

  p {
    margin: 1em 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    font-style: normal;
  }
}


/* --- Media queries for responsive layout --- */

/* --- Mobile --- */

@media only screen and (max-width:599px){

  /* CSS Animations on index */

  .index .presentation-title {
    -webkit-animation: slideLeftMobile 1s ease-in-out;
    -moz-animation: slideLeftMobile 1s ease-in-out;
    -o-animation: slideLeftMobile 1s ease-in-out;
    animation: slideLeftMobile 1s ease-in-out;
  }

  .index #nav-button {
    -webkit-animation: slideTopMobile 1s ease-in-out;
    -moz-animation: slideTopMobile 1s ease-in-out;
    -o-animation: slideTopMobile 1s ease-in-out;
    animation: slideTopMobile 1s ease-in-out;
  }

  .index .footer {
    -webkit-animation: fadeInFooter 1.7s ease-in-out;
    -moz-animation: fadeInFooter 1.7s ease-in-out;
    -o-animation: fadeInFooter 1.7s ease-in-out;
    animation: fadeInFooter 1.7s ease-in-out;
  }

  .content-wrapper {
    margin-bottom: -93px;
  }

  .push {
    height: 50px;
  }

  .content-wrapper {
    padding-top: 4.3em;
  }

  .back-posts {
    margin-bottom: 0.8em;
  }

  #main-nav {
    display: none;
    z-index: 1000;
  }

  #main-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .default-social-nav {
    display: none;
  }

  .responsive-social-nav {
    display: block;
    position: static;
  }

  .presentation {
    position: relative;
  }

  .presentation-title {
    display: inline-block;
    padding: 1em 0 1em 1.3em;

    .presentation-description {
      display: none;
    }

    /* It will maybe change with the new logo */
    .presentation-name {
      text-transform: none;
      margin: 0;
    }
  }

  #nav-button {
    display: inline;
    position: absolute;
    right: 0.7em;
    font-size: 2em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 1000;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #nav-button .nav-button-stripe {
    display: block;
    width: 30px;
    height: 5px;
    margin: 4px 0;
    background-color: $color-median;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .nav-list {
    display: inline-block;
    text-transform: none;
    width: 100%;
  }

  .nav-list-item {
    text-align: left;
    width: 100%;

    &:last-child {
      margin-bottom: 0.5em;
    }

    a {
      display: block;
      text-decoration: none;
      color: inherit;
      padding: 0.5em 0 0.5em 0.7em;

      -webkit-transition: text-shadow 0.1s linear;
      -o-transition: text-shadow 0.1s linear;
      transition: text-shadow 0.1s linear;
    }

  }

  .nav-arrow {
    display: inline;
    float: right;
    margin-right: 0.7em;
  }

  .social-list {
    width: 50%;
  }

  .load-more {
    margin-bottom: 1em;
  }

  // Makes the nav menu be able to override the Font Awesome
  .fa {
    transform: initial;
  }

}


/* --- Tablet --- */

@media only screen and (min-width:600px) and (max-width:899px) {

  .active {
    
    a {
      color: $color-darker;
      -webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -ms-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -o-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    }

    a::before {
      content: " ";
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100% !important;
      background-color: $color-darker;
    }

  }

  .container {
    height: auto;
  }

  #main-header {
    position: static;
    width: 100%;
  }

  .content-wrapper {
    padding-top: 2.5em;
  }

  .default-social-nav {
    display: none;
  }

  .responsive-social-nav {
    display: block;
  }

  .presentation {
    text-align: center;
    padding-top: 1em;
  }

  .presentation-title {
    display: inline-block;
    padding-bottom: 0.8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #main-nav {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    margin: 1em 0;
  }

  .nav-list {
    margin: 0 auto;
    display: inline-block;
    color: $color-median;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
  }

  .nav-list-item {
    float: left;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }

    a {
      position: relative;
      text-decoration: none;
      color: inherit;

      -webkit-transition: text-shadow 0.1s linear;
      -o-transition: text-shadow 0.1s linear;
      transition: text-shadow 0.1s linear;
    }

    a:hover {
      color: $color-darker;

      -webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -ms-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -o-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);

      -webkit-transition: text-shadow 0.1s linear;
      -o-transition: text-shadow 0.1s linear;
      transition: text-shadow 0.1s linear;
    }
  }

  .load-more {
    margin-bottom: -1.2em;
  }

  .social-list {
    width: 50%;
  }

}


/* --- Standard Desktop --- */

@media only screen and (min-width:900px) {

  .active {
    
    a {
      color: $color-darker;
      -webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -ms-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -o-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    }

    a::before {
      content: " ";
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100% !important;
      background-color: $color-darker;
    }

  }

  /* CSS Animations on index */

  .index .presentation{
    -webkit-animation: slideTop 1s ease-in-out;
    -moz-animation: slideTop 1s ease-in-out;
    -o-animation: slideTop 1s ease-in-out;
    animation: slideTop 1s ease-in-out;
  }

  .index #main-nav {
    -webkit-animation: slideLeft 1s ease-in-out;
    -moz-animation: slideLeft 1s ease-in-out;
    -o-animation: slideLeft 1s ease-in-out;
    animation: slideLeft 1s ease-in-out;
  }

  .index .social-nav {
    -webkit-animation: slideBottom 1.3s ease-in-out;
    -moz-animation: slideBottom 1.3s ease-in-out;
    -o-animation: slideBottom 1.3s ease-in-out;
    animation: slideBottom 1.3s ease-in-out;
  }

  /* Content */

  .container {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
  }

  /* Header */

  #main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    padding-top: 7em;
  }

  .presentation {
    margin: 0 auto;
    text-align: center;
    width: 71.875%; // 230px : 320px = 71.875%
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .presentation-title {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 140px; // It has to be in pixels
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    text-transform: uppercase;

    .presentation-name {
      text-align: left;
      margin: 0;
      font-size: 3em;
      color: $color-darker;
    }

    .presentation-macedo {
      letter-spacing: 0.097em;
    }

    .presentation-description {
      margin: 0;
      font-size: 1.2em;
      letter-spacing: 0.27em;
      color: $color-lighter;
    }
  }

  #main-nav {
    margin-top: 40px;
  }

  .nav-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: $color-median;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
  }

  .nav-list-item {
    margin-bottom: 0.5em;

    a {
      position: relative;
      text-decoration: none;
      color: inherit;
      -webkit-transition: text-shadow 0.1s linear;
      -o-transition: text-shadow 0.1s linear;
      transition: text-shadow 0.1s linear;
    }

    a:hover {
      color: $color-darker;
      -webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -ms-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -o-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -webkit-transition: text-shadow 0.1s linear;
      -o-transition: text-shadow 0.1s linear;
      transition: text-shadow 0.1s linear;
    }
  }

  .social-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .social-list {
    -webkit-box-shadow: 0px 0px 5px #D9D9D9;
    box-shadow: 0px 0px 5px #D9D9D9;
    .social-twitter:hover { color: $twitter-color }
    .social-facebook:hover { color: $facebook-color }
    .social-github:hover { color: $github-color }
    .social-linkedin:hover { color: $linkedin-color }
    .social-mail:hover { color: $mail-color }
  }

  .underline-hover {
    position: relative;

    a::before {
      content: " ";
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: $color-darker;
      -webkit-transition: width 0.1s linear;
      -o-transition: width 0.1s linear;
      transition: width 0.1s linear;
    }

    a:hover::before {
      width: 100%;
    }

  }

}
